@import '../main/variables';

// Colors
$page-bg-color: #f1f1f1;
$elements-bg-color: rgba(255, 255, 255, 1);
$heading-text-default-color: rgba(37, 37, 37, 1);
$text-default-color: rgba(139, 149, 158, 1);
$footer-bg-color: rgba(33, 32, 38, 1);
$black: black;
