@import '../../../../../assets/styles/entrance/css/style.css';
@import '../../../../../Ui_Kit/css/media.css';
@import '../../../../../Ui_Kit/scss/variables/main/variables';

@media ($laptop) {
  @mixin h2() {
    font-size: 35px;
    line-height: 52.5px;
  }

  .header__logo {
    font-size: 24px;
    line-height: 24px;
  }

  .main {
    padding: 40px 0px 120px;
  }

  .main__content-ads-heading,
  .main__content-sellers-info-heading,
  .main__content-recent-ads-heading {
    @include h2();
  }

  .main__content-search {
    justify-content: center;
  }

  .main__content-filter-head {
    width: 600px;
    &-category {
      width: 140px;
      padding: 0px 5px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .main__content-filter-content {
    width: 600px;
    padding: 16px;

    &-category-select-head {
      min-width: 270px;
    }

    &-category-select-heading,
    &-category-select-body-option {
      font-size: 14px;
    }
  }

  .main__content-search-card {
    max-height: 477px;

    .main__content-search-card-category + .main__content-search-card-geoPrice {
      margin-top: 25px;
    }

    &-price {
      font-size: 20px;
      line-height: 24px;
    }
  }

  img + .main__content-search-card-heading {
    margin-top: 12px;
  }

  .main__content-search-card-heading {
    max-width: 275px;
  }

  .main__content-search-card-heading {
    font-size: 16px;
    line-height: 24px;
  }

  .main__content-ads-row .wrapper {
    margin-top: 20px;
  }

  .main__content-sellers {
    padding: 0px;

    &-content {
      border-radius: 0px;
    }
  }

  .main__content-sellers-info-text {
    max-width: 390px;
  }

  .main__content-sellers-imgs {
    max-width: 500px;
  }

  .main__content-sellers-img:first-child {
    width: 185px;
    height: 35px;
  }

  .main__content-sellers-img:nth-child(2) {
    width: 125px;
    height: 45px;
  }

  .main__content-sellers-img:nth-child(3) {
    width: 180px;
    height: 50px;
  }
  .main__content-sellers-img:nth-child(4) {
    width: 92px;
    height: 55px;
  }

  .main__content-recent-ads-info {
    row-gap: 40px;
  }
}

@media ($tablet) {
  .main {
    padding: 40px 0px 100px;
  }

  .main__content-sellers {
    margin-top: 100px;
  }

  .main__content-recent-ads {
    margin: 100px auto 0px;
    padding: 0px 20px;
    width: 100%;
  }

  .main__content-recent-ads-row-wrapper,
  .main__content-recent-ads-info {
    max-width: 100%;
  }

  .main__content-filter-head {
    width: 100%;
  }

  .main__content-filter-content {
    width: 100%;
    display: flex;
  }

  .main__content-filter-content-category {
    flex-grow: 1;
  }

  .main__content-filter-content-category-select-head {
    min-width: 340px;
  }
  .main__content-search-card {
    margin-top: 90px;
    max-height: 1000px;
  }

  .main__content-ads-item:hover {
    cursor: default;
    transform: none;
  }

  .main__content-search-card-heading,
  .main__content-search-card-category {
    max-width: 100%;
  }

  .main__content-sellers-info-text + .main__content-sellers-info-btn {
    margin-top: 30px;
  }

  .main__content-sellers-info-text {
    max-width: 320px;
  }

  .main__content-sellers-imgs {
    padding: 55px 20px;
    max-width: 365px;
  }

  .main__content-sellers-img:first-child {
    width: 175px;
    height: 30px;
  }

  .main__content-sellers-img:nth-child(2) {
    width: 120px;
    height: 40px;
  }
  .main__content-sellers-img:nth-child(3) {
    width: 170px;
    height: 45px;
  }
  .main__content-sellers-img:nth-child(4) {
    width: 85px;
    height: 50px;
  }
}

@media ($largeMobile) {
  .header__logo {
    font-size: 18px;
  }

  .header__profile {
    display: flex;
    align-items: center;
  }

  .header__profile-btn {
    padding: 0px;

    p {
      display: none;
    }
  }

  .header__profile-img {
    display: block;
  }

  .header__profile-arrow {
    top: calc(100% - 10px);
    left: -9px;
  }

  .header__profile-content {
    top: calc(100% + 9px);
    left: calc(-450%);
  }

  .main {
    padding: 30px 0px 100px;
  }

  .main__content {
    row-gap: 100px;
  }

  @mixin h2() {
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
  }

  .main__content-ads-heading,
  .main__content-sellers-info-heading,
  .main__content-recent-ads-heading {
    @include h2();
  }

  .main__content {
    &-filter-head {
      margin: 0px -20px;
      width: calc(100% + 40px);
      border-radius: 0px;
    }

    &-filter-head-category {
      width: 105px;
      height: 50px;

      font-size: 12px;
      font-weight: 700;
      line-height: 15.6px;
    }

    .main__content-filter-content-category-select-head {
      min-width: 200px;
    }

    div + .wrapper {
      margin-top: 10px;
    }

    &-search-card {
      margin-top: 50px;
    }

    &-ads {
      row-gap: 40px;

      .main__content div + .wrapper {
        margin-top: 0px;
      }
    }

    &-sellers-content {
      padding: 60px 0px;
      .container {
        flex-direction: column-reverse;
        row-gap: 30px;
      }
    }

    &-sellers-info-heading,
    &-sellers-info-btn {
      margin: 0 auto;
    }

    &-sellers-info-text {
      max-width: 330px;
      text-align: center;
    }

    &-recent-ads {
      width: 100%;
      margin: 100px 0px 0px;
      padding: 0px;

      &-info {
        width: 100%;
      }
    }

    &-recent-ads-nav {
      display: none;
    }

    &-recent-ads-heading {
      margin-left: 20px;
    }

    &-recent-ads-row-wrapper {
      margin-left: 20px;
      max-width: 100%;
    }
  }
}

@media ($mobile) {
  .header__nav-row {
    column-gap: 15px;
  }

  .header__login.button {
    padding: 10px 16px;
    font-size: 10px;
    line-height: 16px;
  }

  .main__content-filter-head {
    margin: 0px;
    width: 100%;
    border-radius: 8px;

    flex-wrap: wrap;
  }

  .main__content .main__content-filter-content-category-select-head {
    min-width: 125px;
  }

  .main__content-filter-content-category {
    p {
      font-size: 12px;
      line-height: 24px;
    }
  }

  .main__content-filter-head-category {
    width: 100px;
  }

  .main__content-search-card-price {
    font-size: 18px;
  }

  .main__content-search {
    gap: 20px;
  }

  .main__content div + .wrapper {
    margin-top: 0px;
  }

  .main__content .wrapper {
    justify-content: stretch;

    button {
      width: 100%;
    }
  }

  .main__content-search-card {
    margin-top: 60px;
    overflow-x: hidden;
  }

  .main__content-ads-row {
    div + .wrapper {
      margin-top: 20px;
    }
  }

  .main__content-sellers-img:first-child {
    width: 130px;
    height: 25px;
  }

  .main__content-sellers-img:nth-child(2) {
    width: 85px;
    height: 30px;
  }

  .main__content-sellers-img:nth-child(3) {
    width: 125px;
    height: 30px;
  }

  .main__content-sellers-img:nth-child(4) {
    width: 64px;
    height: 37px;
  }

  .main__content-recent-ads-heading {
    max-width: 200px;
  }
}
